<a href="https://colab.research.google.com/github/ML-Challenge/week5-preprocessing-and-tunning/blob/master/L1.Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" /></a>

This lesson covers the basics of how and when to perform data preprocessing. This essential step in any machine learning project is when we get our data ready for modeling. Between importing and cleaning the data and fitting the machine learning model is when preprocessing comes into play. We'll learn how to standardize the data so that it's in the right form for the model, create new features to best leverage the information in the dataset, and select the best features to improve the model fit. Finally, we'll have some practice preprocessing by getting a dataset on UFO sightings ready for modeling.

# Setup

In [1]:
# Download lesson datasets
# Required if you're using Google Colab
#!wget "https://github.com/ML-Challenge/week5-preprocessing-and-tunning/raw/master/datasets.zip"
#!unzip -o datasets.zip

In [2]:
# Import utils
# We'll be using this module throughout the lesson
import utils

In [3]:
# Import dependencies
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
# and setting the size of all plots.
plt.rcParams['figure.figsize'] = [11, 7]

# Introduction to Data Preprocessing

In this chapter we'll learn exactly what it means to `preprocess` data. We'll take the first steps in any preprocessing journey, including exploring data types and dealing with missing data.

## What is data preprocessing?

### Missing data - columns

We have a dataset comprised of volunteer information from New York City. The dataset has a number of features, but we want to get rid of features that have at least 3 missing values.

How many features are in the original dataset, and how many features are in the set after columns with at least 3 missing values are removed?

In [4]:
utils.volunteer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   opportunity_id      665 non-null    int64
 1   content_id          665 non-null    int64
 2   vol_requests        665 non-null    int64
 3   event_time          665 non-null    int64
 4   title               665 non-null    object
 5   hits                665 non-null    object
 6   summary             665 non-null    object
 7   is_priority         62 non-null     object
 8   category_id         617 non-null    float64
 9   category_desc       665 non-null    object
 10  amsl                0 non-null      float64
 11  amsl_unit           0 non-null      float64
 12  org_title           665 non-null    object
 13  org_content_id      665 non-null    int64
 14  addresses_count     665 non-null    int64
 15  locality            595 non-null    object
 16  region              665 non-null    object
 17  postalcode          659 non-null    float64
 18  primary_loc         0 non-null      float64
 19  display_url         665 non-null    object
 20  recurrence_type     665 non-null    object
 21  hours               665 non-null    int64
 22  created_date        665 non-null    object
 23  last_modified_date  665 non-null    object
 24  start_date_date     665 non-null    object
 25  end_date_date       665 non-null    object
 26  status              665 non-null    object
 27  Latitude            0 non-null      float64
 28  Longitude           0 non-null      float64
 29  Community Board     0 non-null      float64
 30  Community Council   0 non-null      float64
 31  Census Tract        0 non-null      float64
 32  BIN                 0 non-null      float64
 33  BBL                 0 non-null      float64
 34  NTA                 0 non-null      float64
dtypes: float64(13), int64(7), object(15)
memory usage: 182.0+ KB

In [5]:
volunteer_clean = utils.volunteer.dropna(axis=1, thresh=3)
volunteer_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665 entries, 0 to 664
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   opportunity_id      665 non-null    int64
 1   content_id          665 non-null    int64
 2   vol_requests        665 non-null    int64
 3   event_time          665 non-null    int64
 4   title               665 non-null    object
 5   hits                665 non-null    object
 6   summary             665 non-null    object
 7   is_priority         62 non-null     object
 8   category_id         617 non-null    float64
 9   category_desc       665 non-null    object
 10  org_title           665 non-null    object
 11  org_content_id      665 non-null    int64
 12  addresses_count     665 non-null    int64
 13  locality            595 non-null    object
 14  region              665 non-null    object
 15  postalcode          659 non-null    float64
 16  display_url         665 non-null    object
 17  recurrence_type     665 non-null    object
 18  hours               665 non-null    int64
 19  created_date        665 non-null    object
 20  last_modified_date  665 non-null    object
 21  start_date_date     665 non-null    object
 22  end_date_date       665 non-null    object
 23  status              665 non-null    object
dtypes: float64(2), int64(7), object(15)
memory usage: 124.8+ KB

### Missing data - rows

Taking a look at the `volunteer` dataset again, we want to drop rows where the `category_desc` column values are missing. We're going to do this using boolean indexing, by checking to see if we have any null values, and then filtering the dataset so that we only have rows with those values.

In [6]:
# Check how many values are missing in the category_desc column
print(utils.volunteer['category_desc'].isnull().sum())

0

In [7]:
# Subset the volunteer dataset
volunteer_subset = utils.volunteer[utils.volunteer['category_desc'].notnull()]

In [8]:
# Print out the shape of the subset
print(volunteer_subset.shape)

(665, 35)

Remember that you can use boolean indexing to effectively subset DataFrames.

## Working with data types

### Exploring data types

Taking another look at the dataset comprised of volunteer information from New York City, we want to know what types we'll be working with as we start to do more preprocessing. Which data types are present in the volunteer dataset?

In [9]:
utils.volunteer.dtypes

opportunity_id          int64
content_id              int64
vol_requests            int64
event_time              int64
title                  object
hits                   object
summary                object
is_priority            object
category_id           float64
category_desc          object
amsl                  float64
amsl_unit             float64
org_title              object
org_content_id          int64
addresses_count         int64
locality               object
region                 object
postalcode            float64
primary_loc           float64
display_url            object
recurrence_type        object
hours                   int64
created_date           object
last_modified_date     object
start_date_date        object
end_date_date          object
status                 object
Latitude              float64
Longitude             float64
Community Board       float64
Community Council     float64
Census Tract          float64
BIN                   float64
BBL                   float64
NTA                   float64
dtype: object

We have int, float and object (string)

### Converting a column type

If we take a look at the `volunteer` dataset types, we'll see that the column hits is type object. But, if we actually look at the column, we'll see that it consists of integers. Let's convert that column to type int.

In [10]:
# Print the head of the hits column
print(utils.volunteer["hits"].head())

0    737
1     22
2     62
3     14
4     31
Name: hits, dtype: object

We can use astype to convert between a variety of types.

In [11]:
# Convert the hits column to type int
utils.volunteer["hits"] = utils.volunteer["hits"].astype(int)

In [12]:
# Look at the dtypes of the dataset
print(utils.volunteer.dtypes)

opportunity_id          int64
content_id              int64
vol_requests            int64
event_time              int64
title                  object
hits                    int32
summary                object
is_priority            object
category_id           float64
category_desc          object
amsl                  float64
amsl_unit             float64
org_title              object
org_content_id          int64
addresses_count         int64
locality               object
region                 object
postalcode            float64
primary_loc           float64
display_url            object
recurrence_type        object
hours                   int64
created_date           object
last_modified_date     object
start_date_date        object
end_date_date          object
status                 object
Latitude              float64
Longitude             float64
Community Board       float64
Community Council     float64
Census Tract          float64
BIN                   float64
BBL                   float64
NTA                   float64
dtype: object

## Class distribution

### Class imbalance

In the `volunteer` dataset, we're thinking about trying to predict the `category_desc` variable using the other features in the dataset. First, though, we need to know what the class distribution (and imbalance) is for that label.

Which descriptions occur less than 50 times in the volunteer dataset?

In [13]:
utils.volunteer['category_desc'].value_counts()

Strengthening Communities    333
Helping Neighbors in Need    124
Education                     98
Health                        57
Environment                   36
Emergency Preparedness        17
Name: category_desc, dtype: int64

Both Emergency Prepardness and Environment occur less than 50 times.

### Stratified sampling

We know that the distribution of variables in the `category_desc` column in the `volunteer` dataset is uneven. If we wanted to train a model to try to predict `category_desc`, we would want to train the model on a sample of data that is representative of the entire dataset. Stratified sampling is a way to achieve this.

In [14]:
# Create a data with all columns except category_desc
volunteer_X = utils.volunteer.drop('category_desc', axis=1)

In [15]:
# Create a category_desc labels dataset
volunteer_y = utils.volunteer[['category_desc']]

In [16]:
from sklearn.model_selection import train_test_split

# Use stratified sampling to split up the dataset according to the volunteer_y dataset
X_train, X_test, y_train, y_test = train_test_split(volunteer_X, volunteer_y, stratify=volunteer_y, random_state=42)

In [17]:
# Print out the category_desc counts on the training y labels
print(y_train['category_desc'].value_counts())

Strengthening Communities    249
Helping Neighbors in Need     93
Education                     73
Health                        43
Environment                   27
Emergency Preparedness        13
Name: category_desc, dtype: int64

# Standardizing Data

This chapter is all about standardizing data. Often a model will make some assumptions about the distribution or scale of the features. Standardization is a way to make the data fit these assumptions and improve the algorithm's performance.

## What is data standardization

### When to standardize

Now that we've learned when it is appropriate to standardize your data, which of these scenarios would we **NOT** want to standardize?

**Possible Answers**

1. A column we want to use for modeling has extremely high variance.
2. We have a dataset with several continuous columns on different scales and we'd like to use a linear model to train the data.
3. The models we're working with use some sort of distance metric in a linear space, like the Euclidean metric.
4. Our dataset is comprised of categorical data.

In [18]:
# Use 1,2,3 or 4 as a parameter
utils.when_to_standardize()

Enter 1, 2, 3 or 4 as the answer

### Modeling without normalizing

Let's take a look at what might happen to our model's accuracy if we try to model data without doing some sort of standardization first. Here we have a subset of the `wine` dataset. One of the columns, `Proline`, has an extremely high variance compared to the other columns. This is an example of where a technique like log normalization would come in handy, which we'll learn about in the next section.

In [19]:
utils.wine.head()

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [20]:
# Create a subset of data
wine_X = utils.wine[['Proline', 'Total phenols', 'Hue', 'Nonflavanoid phenols']]

In [21]:
# Create a Type labels dataset
wine_y = utils.wine['Type']

In [22]:
# Split the dataset and labels into training and test sets
X_train, X_test, y_train, y_test = train_test_split(wine_X, wine_y, stratify=wine_y, random_state=42)

In [23]:
# Fit the k-nearest neighbors model to the training data
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [24]:
# Score the model on the test data
print(knn.score(X_test, y_test))

0.6888888888888889

We can see that the accuracy score is pretty low. Let's explore methods to improve this score.

## Log normalization

### Checking the variance

Let's check the variance of the columns in the wine dataset and see which column is a candidate for normalization?

In [25]:
utils.wine.var()

Type                                0.600679
Alcohol                             0.659062
Malic acid                          1.248015
Ash                                 0.075265
Alcalinity of ash                  11.152686
Magnesium                         203.989335
Total phenols                       0.391690
Flavanoids                          0.997719
Nonflavanoid phenols                0.015489
Proanthocyanins                     0.327595
Color intensity                     5.374449
Hue                                 0.052245
OD280/OD315 of diluted wines        0.504086
Proline                         99166.717355
dtype: float64

We can see that the `Proline` column has an extremely high variance.

### Log normalization in Python

Now that we know that the `Proline` column in our wine dataset has a large amount of variance, let's log normalize it.

In [26]:
# Print out the variance of the Proline column
print(utils.wine['Proline'].var())

99166.71735542436

In [27]:
# Apply the log normalization function to the Proline column
utils.wine['Proline_log'] = np.log(utils.wine['Proline'])

In [28]:
# Check the variance of the normalized Proline column
print(utils.wine['Proline_log'].var())

0.17231366191842012

The `np.log()` function is an easy way to log normalize a column.

In [29]:
# Create a subset of data
wine_X = utils.wine[['Proline_log', 'Total phenols', 'Hue', 'Nonflavanoid phenols']]

# Split the dataset and labels into training and test sets
X_train, X_test, y_train, y_test = train_test_split(wine_X, wine_y, stratify=wine_y, random_state=42)

In [30]:
# Fit the k-nearest neighbors model to the training data
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [31]:
# Score the model on the test data
print(knn.score(X_test, y_test))

0.9777777777777777

## Scaling data for feature comparison

### Scaling data - investigating columns

We want to use the `Ash`, `Alcalinity of ash`, and `Magnesium` columns in the wine dataset to train a linear model, but it's possible that these columns are all measured in different ways, which would bias a linear model. Using `describe()` to return descriptive statistics about this dataset, which of the following statements are true about the scale of data in these columns?

**Possible Answers**

1. The max of `Ash` is 3.23, the max of `Alcalinity of ash` is 30, and the max of `Magnesium` is 162.
2. The means of `Ash` and `Alcalinity of ash` are less than 20, while the mean of `Magnesium` is greater than 90.
3. The standard deviations of `Ash` and `Alcalinity of ash` are equal.
4. 1 and 2 are true

In [32]:
utils.wine.describe()

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Proline_log
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258,6.530303
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474,0.415107
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000,5.627621
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000,6.215606
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000,6.512486
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000,6.892642
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000,7.426549

### Scaling data - standardizing columns

Since we know that the `Ash`, `Alcalinity of ash`, and `Magnesium` columns in the wine dataset are all on different scales, let's standardize them in a way that allows for use in a linear model.

In [33]:
# Import StandardScaler from scikit-learn
from sklearn.preprocessing import StandardScaler

In [34]:
# Create the scaler
ss = StandardScaler()

In [35]:
# Take a subset of the DataFrame we want to scale 
wine_subset = utils.wine[['Ash', 'Alcalinity of ash', 'Magnesium']]

In [36]:
# Apply the scaler to the DataFrame subset
wine_subset_scaled = ss.fit_transform(wine_subset)

In [37]:
pd.DataFrame(wine_subset_scaled, columns=['Ash', 'Alcalinity of ash', 'Magnesium']).describe()

                Ash  Alcalinity of ash     Magnesium
count  1.780000e+02       1.780000e+02  1.780000e+02
mean  -8.370333e-16      -3.991813e-17 -3.991813e-17
std    1.002821e+00       1.002821e+00  1.002821e+00
min   -3.679162e+00      -2.671018e+00 -2.088255e+00
25%   -5.721225e-01      -6.891372e-01 -8.244151e-01
50%   -2.382132e-02       1.518295e-03 -1.222817e-01
75%    6.981085e-01       6.020883e-01  5.096384e-01
max    3.156325e+00       3.154511e+00  4.371372e+00

In scikit-learn, running `fit_transform` during preprocessing will both fit the method to the data as well as transform the data in a single step.

## Standardized data and modeling

### KNN on non-scaled data

Let's first take a look at the accuracy of a K-nearest neighbors model on the `wine` dataset without standardizing the data.

In [38]:
X = utils.wine.drop(['Type', 'Proline_log'], axis=1)
y = utils.wine['Type']

In [39]:
# Split the dataset and labels into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, stratify=y, random_state=42)

In [40]:
# Fit the k-nearest neighbors model to the training data
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [41]:
# Score the model on the test data
print(knn.score(X_test, y_test))

0.7777777777777778

### KNN on scaled data

The accuracy score on the unscaled `wine` dataset was decent, but we can likely do better if we scale the dataset. The process is mostly the same as the previous example, with the added step of scaling the data.

In [42]:
# Create the scaling method.
ss = StandardScaler()

In [43]:
# Apply the scaling method to the dataset used for modeling.
X_scaled = ss.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, stratify=y, random_state=42)

In [44]:
# Fit the k-nearest neighbors model to the training data
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [45]:
# Score the model on the test data
print(knn.score(X_test, y_test))

0.9333333333333333

The increase in accuracy is worth the extra step of scaling the dataset.

# Feature Engineering

In this section we'll learn about feature engineering. We'll explore different ways to create new, more useful, features from the ones already in the dataset. We'll see how to encode, aggregate, and extract information from both numerical and textual features.

## What is Feature engineering

### Feature engineering knowledge test

Now that we've learned about feature engineering, which of the following examples are good candidates for creating new features?

**Possible Answers*

1. A column of timestamps
2. A column of newspaper headlines
3. A column of weight measurements
4. 1 and 2
5. None of the above

In [46]:
# Use 1,2,3,4 or 5 as parameter
utils.feature_engineering_puzzle()

Enter 1, 2, 3, 4 or 5 as the answer

### Identifying areas for feature engineering

Let's take an exploratory look at the `volunteer` dataset. Which of the following columns would you want to perform a feature engineering task on?

**Posible Answers**

1. `vol_requests`
2. `title`
3. `created_date`
4. `category_desc`
5. 2,3 and 4

In [47]:
utils.volunteer.head()

,opportunity_id,content_id,vol_requests,event_time,title,hits,summary,is_priority,category_id,category_desc,...,end_date_date,status,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,4996,37004,50,0,Volunteers Needed For Rise Up & Stay Put! Home...,737,Building on successful events last summer and ...,NaN,NaN,Strengthening Communities,...,July 30 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5008,37036,2,0,Web designer,22,Build a website for an Afghan business,NaN,1.0,Strengthening Communities,...,February 01 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5016,37143,20,0,Urban Adventures - Ice Skating at Lasker Rink,62,Please join us and the students from Mott Hall...,NaN,1.0,Strengthening Communities,...,January 29 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5022,37237,500,0,Fight global hunger and support women farmers ...,14,The Oxfam Action Corps is a group of dedicated...,NaN,1.0,Strengthening Communities,...,March 31 2012,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5055,37425,15,0,Stop 'N' Swap,31,Stop 'N' Swap reduces NYC's waste by finding n...,NaN,4.0,Environment,...,February 05 2011,approved,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# Use 1,2,3,4 or 5 as parameter
utils.identity_features_puzzle()

Enter 1, 2, 3, 4 or 5 as the answer

## Encoding categorical variables

### Encoding categorical variables - binary

Let's take a look at the `hiking` dataset. There are several columns here that need encoding, one of which is the `Accessible` column, which needs to be encoded in order to be modeled. `Accessible` is a binary feature, so it has two values - either `Y` or `N` - so it needs to be encoded into 1s and 0s. We'll use scikit-learn's `LabelEncoder` method to do that transformation.

In [49]:
utils.hiking.head()

,Prop_ID,Name,Location,Park_Name,Length,Difficulty,Other_Details,Accessible,Limited_Access,lat,lon
0,B057,Salt Marsh Nature Trail,"Enter behind the Salt Marsh Nature Center, loc...",Marine Park,0.8 miles,None,<p>The first half of this mile-long trail foll...,Y,N,NaN,NaN
1,B073,Lullwater,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,1.0 mile,Easy,Explore the Lullwater to see how nature thrive...,N,N,NaN,NaN
2,B073,Midwood,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.75 miles,Easy,Step back in time with a walk through Brooklyn...,N,N,NaN,NaN
3,B073,Peninsula,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Discover how the Peninsula has changed over th...,N,N,NaN,NaN
4,B073,Waterfall,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Trace the source of the Lake on the Waterfall ...,N,N,NaN,NaN

In [50]:
# Import dependencies
from sklearn.preprocessing import LabelEncoder

In [51]:
# Set up the LabelEncoder object
enc = LabelEncoder()

In [52]:
# Apply the encoding to the "Accessible" column
utils.hiking['Accessible_enc'] = enc.fit_transform(utils.hiking['Accessible'])

In [53]:
# Compare the two columns
utils.hiking[['Accessible', 'Accessible_enc']].head()

  Accessible  Accessible_enc
0          Y               1
1          N               0
2          N               0
3          N               0
4          N               0

Nice! `.fit_transform()` is a good way to both fit an encoding and transform the data in a single step.

### Encoding categorical variables - one-hot

One of the columns in the volunteer dataset, `category_desc`, gives category descriptions for the volunteer opportunities listed. Because it is a categorical variable with more than two categories, we need to use one-hot encoding to transform this column numerically. We'll use Pandas' `get_dummies()` function to do so.

In [54]:
# Transform the category_desc column
category_enc = pd.get_dummies(utils.volunteer['category_desc'])

In [55]:
# Take a look at the encoded columns
category_enc.head()

,Education,Emergency Preparedness,Environment,Health,Helping Neighbors in Need,Strengthening Communities
0,0,0,0,0,0,1
1,0,0,0,0,0,1
2,0,0,0,0,0,1
3,0,0,0,0,0,1
4,0,0,1,0,0,0

`get_dummies()` is a simple and quick way to encode categorical variables.

## Engineering numerical features

### Engineering numerical features - taking an average

A good use case for taking an aggregate statistic to create a new feature is to take the mean of columns. Here, we have a DataFrame of running times named `running_times_5k`. For each `name` in the dataset, take the mean of their 5 run times.

In [56]:
utils.running_times_5k

      name  run1  run2  run3  run4  run5
0      Sue  20.1  18.5  19.6  20.3  18.3
1     Mark  16.5  17.1  16.9  17.6  17.3
2     Sean  23.5  25.1  25.2  24.6  23.9
3     Erin  21.7  21.1  20.9  22.1  22.2
4    Jenny  25.8  27.1  26.1  26.7  26.9
5  Russell  30.9  29.6  31.4  30.4  29.9

In [57]:
# Create a list of the columns to average
run_columns = ['run1', 'run2', 'run3', 'run4', 'run5']

In [58]:
# Use apply to create a mean column
utils.running_times_5k["mean"] = utils.running_times_5k.apply(lambda row: row[run_columns].mean(), axis=1)

In [59]:
# Take a look at the results
utils.running_times_5k

      name  run1  run2  run3  run4  run5   mean
0      Sue  20.1  18.5  19.6  20.3  18.3  19.36
1     Mark  16.5  17.1  16.9  17.6  17.3  17.08
2     Sean  23.5  25.1  25.2  24.6  23.9  24.46
3     Erin  21.7  21.1  20.9  22.1  22.2  21.60
4    Jenny  25.8  27.1  26.1  26.7  26.9  26.52
5  Russell  30.9  29.6  31.4  30.4  29.9  30.44

Nice! Lambdas are especially helpful for operating across columns.

### Engineering numerical features - datetime

There are several columns in the `volunteer` dataset comprised of datetimes. Let's take a look at the `start_date_date` column and extract just the month to use as a feature for modeling.

In [60]:
utils.volunteer[['start_date_date', 'end_date_date']].head()

    start_date_date     end_date_date
0      July 30 2011      July 30 2011
1  February 01 2011  February 01 2011
2   January 29 2011   January 29 2011
3  February 14 2011     March 31 2012
4  February 05 2011  February 05 2011

In [61]:
# First, convert string column to date column
utils.volunteer["start_date_converted"] = pd.to_datetime(utils.volunteer["start_date_date"])

In [62]:
utils.volunteer[['start_date_date', 'start_date_converted']].head()

    start_date_date start_date_converted
0      July 30 2011           2011-07-30
1  February 01 2011           2011-02-01
2   January 29 2011           2011-01-29
3  February 14 2011           2011-02-14
4  February 05 2011           2011-02-05

In [63]:
# Extract just the month from the converted column
utils.volunteer['start_date_month'] = utils.volunteer['start_date_converted'].apply(lambda row: row.month)

In [64]:
# Take a look at the converted and new month columns
utils.volunteer[['start_date_date', 'start_date_converted', 'start_date_month']].head()

    start_date_date start_date_converted  start_date_month
0      July 30 2011           2011-07-30                 7
1  February 01 2011           2011-02-01                 2
2   January 29 2011           2011-01-29                 1
3  February 14 2011           2011-02-14                 2
4  February 05 2011           2011-02-05                 2

Awesome! We can also use attributes like `.day` to get the day and `.year` to get the year from datetime columns

## Text classification

### Engineering features from strings - extraction

The `Length` column in the `hiking` dataset is a column of strings, but contained in the column is the mileage for the hike. We're going to extract this mileage using regular expressions, and then use a lambda in Pandas to apply the extraction to the DataFrame.

In [65]:
utils.hiking.head()

,Prop_ID,Name,Location,Park_Name,Length,Difficulty,Other_Details,Accessible,Limited_Access,lat,lon,Accessible_enc
0,B057,Salt Marsh Nature Trail,"Enter behind the Salt Marsh Nature Center, loc...",Marine Park,0.8 miles,None,<p>The first half of this mile-long trail foll...,Y,N,NaN,NaN,1
1,B073,Lullwater,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,1.0 mile,Easy,Explore the Lullwater to see how nature thrive...,N,N,NaN,NaN,0
2,B073,Midwood,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.75 miles,Easy,Step back in time with a walk through Brooklyn...,N,N,NaN,NaN,0
3,B073,Peninsula,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Discover how the Peninsula has changed over th...,N,N,NaN,NaN,0
4,B073,Waterfall,Enter Park at Lincoln Road and Ocean Avenue en...,Prospect Park,0.5 miles,Easy,Trace the source of the Lake on the Waterfall ...,N,N,NaN,NaN,0

In [66]:
# Write a pattern to extract numbers and decimals
import re

def return_mileage(length):
    if length is not None:
        pattern = re.compile(r"\d+\.\d+")

        # Search the text for matches
        mile = re.match(pattern, length)

        # If a value is returned, use group(0) to return the found value
        if mile is not None:
            return float(mile.group(0))

In [67]:
# Apply the function to the Length column
utils.hiking["Length_num"] = utils.hiking["Length"].apply(lambda row: return_mileage(row))

In [68]:
# Take a look at both columns
utils.hiking[["Length", "Length_num"]].head()

       Length  Length_num
0   0.8 miles        0.80
1    1.0 mile        1.00
2  0.75 miles        0.75
3   0.5 miles        0.50
4   0.5 miles        0.50

### Engineering features from strings - tf/idf

Let's transform the `volunteer` dataset's `title` column into a text vector, to use in a prediction task in the next example.

In [69]:
# Take the title text
title_text = utils.volunteer.title

In [70]:
# Create the vectorizer method
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vec = TfidfVectorizer()

In [71]:
# Transform the text into tf-idf vectors
text_tfidf = tfidf_vec.fit_transform(title_text)

### Text classification using tf/idf vectors

Now that we've encoded the`volunteer` dataset's `title` column into tf/idf vectors, let's use those vectors to try to predict the category_desc column. Notice that we have to run the `toarray()` method on the tf/idf vector, in order to get in it the proper format for scikit-learn.

In [72]:
# Split the dataset according to the class distribution of category_desc
y = utils.volunteer["category_desc"]
X_train, X_test, y_train, y_test = train_test_split(text_tfidf.toarray(), y, stratify=y, random_state=42)

In [73]:
# Let's use Naive Bayes
from sklearn.naive_bayes import GaussianNB

# Fit the model to the training data
nb = GaussianNB()
nb.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [74]:
# Print out the model's accuracy
nb.score(X_test, y_test)

0.4431137724550898

Nice! Notice that the model doesn't score very well. We'll work on selecting the best features for modeling in the next chapter.

# Selecting features for modeling

This chapter goes over a few different techniques for selecting the most important features from the dataset. We'll learn how to drop redundant features, work with text vectors, and reduce the number of features in the dataset using principal component analysis (PCA).

## Feature selection

### When to use feature selection

Let's say we had finished standardizing our data and creating new features. Which of the following scenarios is NOT a good candidate for feature selection?

**Possible Answers**

1. Several columns of running times that have been averaged into a new column.
2. A text field that hasn't been turned into a tf/idf vector yet.
3. A column of text that has already had a float extracted out of it.
4. A categorical field that has been one-hot encoded.
5. The dataset contains columns related to whether something is a fruit or vegetable, the name of the fruit or vegetable, and the scientific name of the plant.

In [75]:
# Use 1,2,3,4 or 5 as parameter
utils.feature_selction_puzzle()

Enter 1, 2, 3, 4 or 5 as the answer

## Removing redundant features

### Selecting relevant features

Now let's identify the redundant columns in the 'volunteer_processed' dataset and perform feature selection on the dataset to return a DataFrame of the relevant features.

For example, if we explore the volunteer dataset, we'll see three features which are related to location: `locality`, `region`, and `postalcode`. They contain repeated information, so it would make sense to keep only one of the features.

In [76]:
utils.volunteer[['locality', 'region', 'postalcode']].head(10)

                                            locality region  postalcode
0                                                NaN     NY         NaN
1  5 22nd St\nNew York, NY 10010\n(40.74053152272...     NY     10010.0
2                                                NaN     NY     10026.0
3                                                NaN     NY      2114.0
4                                                NaN     NY     10455.0
5                                                NaN     NY     11372.0
6  1109 Fifth Avenue\nNew York, NY 10128\n(40.785...     NY     10128.0
7                                                NaN     NY     11201.0
8                                                NaN     NY     10020.0
9                                                NaN     NY     10010.0

There are also features that have gone through the feature engineering process: columns like 'Education' and 'Emergency Preparedness' are a product of encoding the categorical variable `category_desc`, so `category_desc` itself is redundant now.

In [77]:
utils.volunteer_processed.head()

,vol_requests,title,hits,category_desc,locality,region,postalcode,created_date,vol_requests_lognorm,created_month,Education,Emergency Preparedness,Environment,Health,Helping Neighbors in Need,Strengthening Communities
1,2,Web designer,22,Strengthening Communities,"5 22nd St\nNew York, NY 10010\n(40.74053152272...",NY,10010.0,2011-01-14,0.693147,1,0,0,0,0,0,1
2,20,Urban Adventures - Ice Skating at Lasker Rink,62,Strengthening Communities,NaN,NY,10026.0,2011-01-19,2.995732,1,0,0,0,0,0,1
3,500,Fight global hunger and support women farmers ...,14,Strengthening Communities,NaN,NY,2114.0,2011-01-21,6.214608,1,0,0,0,0,0,1
4,15,Stop 'N' Swap,31,Environment,NaN,NY,10455.0,2011-01-28,2.708050,1,0,0,1,0,0,0
5,15,Queens Stop 'N' Swap,135,Environment,NaN,NY,11372.0,2011-01-28,2.708050,1,0,0,1,0,0,0

In [78]:
utils.volunteer_processed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 617 entries, 1 to 664
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   vol_requests               617 non-null    int64
 1   title                      617 non-null    object
 2   hits                       617 non-null    int64
 3   category_desc              617 non-null    object
 4   locality                   552 non-null    object
 5   region                     617 non-null    object
 6   postalcode                 612 non-null    float64
 7   created_date               617 non-null    datetime64[ns]
 8   vol_requests_lognorm       617 non-null    float64
 9   created_month              617 non-null    int64
 10  Education                  617 non-null    uint8
 11  Emergency Preparedness     617 non-null    uint8
 12  Environment                617 non-null    uint8
 13  Health                     617 non-null    uint8
 14  Helping Neighbors in Need  617 non-null    uint8
 15  Strengthening Communities  617 non-null    uint8
dtypes: datetime64[ns](1), float64(2), int64(3), object(4), uint8(6)
memory usage: 56.6+ KB

In [79]:
# Create a list of redundant column names to drop
to_drop = ["category_desc", "created_date", "locality", "region", "vol_requests"]

In [80]:
# Drop those columns from the dataset
volunteer_subset = utils.volunteer_processed.drop(to_drop, axis=1)

In [81]:
# Print out the head of the new dataset
volunteer_subset.head()

,title,hits,postalcode,vol_requests_lognorm,created_month,Education,Emergency Preparedness,Environment,Health,Helping Neighbors in Need,Strengthening Communities
1,Web designer,22,10010.0,0.693147,1,0,0,0,0,0,1
2,Urban Adventures - Ice Skating at Lasker Rink,62,10026.0,2.995732,1,0,0,0,0,0,1
3,Fight global hunger and support women farmers ...,14,2114.0,6.214608,1,0,0,0,0,0,1
4,Stop 'N' Swap,31,10455.0,2.708050,1,0,0,1,0,0,0
5,Queens Stop 'N' Swap,135,11372.0,2.708050,1,0,0,1,0,0,0

### Checking for correlated features

Let's take a look at the wine dataset again, which is made up of continuous, numerical features. We run Pearson's correlation coefficient on the dataset to determine which columns are good candidates for eliminating. Then, remove those columns from the DataFrame.

In [82]:
# Print out the column correlations of the wine dataset
corr_matrix = utils.wine.corr()
corr_matrix

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline,Proline_log
Type,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,-0.847498,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.633717,-0.569246
Alcohol,-0.328222,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,0.236815,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.643720,0.637325
Malic acid,0.437776,0.094397,1.000000,0.164045,0.288500,-0.054575,-0.335167,-0.411007,0.292977,-0.220746,0.248985,-0.561296,-0.368710,-0.192011,-0.152643
Ash,-0.049643,0.211545,0.164045,1.000000,0.443367,0.286587,0.128980,0.115077,0.186230,0.009652,0.258887,-0.074667,0.003911,0.223626,0.238394
Alcalinity of ash,0.517859,-0.310235,0.288500,0.443367,1.000000,-0.083333,-0.321113,-0.351370,0.361922,-0.197327,0.018732,-0.273955,-0.276769,-0.440597,-0.416897
Magnesium,-0.209179,0.270798,-0.054575,0.286587,-0.083333,1.000000,0.214401,0.195784,-0.256294,0.236441,0.199950,0.055398,0.066004,0.393351,0.424006
Total phenols,-0.719163,0.289101,-0.335167,0.128980,-0.321113,0.214401,1.000000,0.864564,-0.449935,0.612413,-0.055136,0.433681,0.699949,0.498115,0.431205
Flavanoids,-0.847498,0.236815,-0.411007,0.115077,-0.351370,0.195784,0.864564,1.000000,-0.537900,0.652692,-0.172379,0.543479,0.787194,0.494193,0.410494
Nonflavanoid phenols,0.489109,-0.155929,0.292977,0.186230,0.361922,-0.256294,-0.449935,-0.537900,1.000000,-0.365845,0.139057,-0.262640,-0.503270,-0.311385,-0.275675
Proanthocyanins,-0.499130,0.136698,-0.220746,0.009652,-0.197327,0.236441,0.612413,0.652692,-0.365845,1.000000,-0.025250,0.295544,0.519067,0.330417,0.290203
Color intensity,0.265668,0.546364,0.248985,0.258887,0.018732,0.199950,-0.055136,-0.172379,0.139057,-0.025250,1.000000,-0.521813,-0.428815,0.316100,0.348970
Hue,-0.617369,-0.071747,-0.561296,-0.074667,-0.273955,0.055398,0.433681,0.543479,-0.262640,0.295544,-0.521813,1.000000,0.565468,0.236183,0.173593
OD280/OD315 of diluted wines,-0.788230,0.072343,-0.368710,0.003911,-0.276769,0.066004,0.699949,0.787194,-0.503270,0.519067,-0.428815,0.565468,1.000000,0.312761,0.254218
Proline,-0.633717,0.643720,-0.192011,0.223626,-0.440597,0.393351,0.498115,0.494193,-0.311385,0.330417,0.316100,0.236183,0.312761,1.000000,0.977423
Proline_log,-0.569246,0.637325,-0.152643,0.238394,-0.416897,0.424006,0.431205,0.410494,-0.275675,0.290203,0.348970,0.173593,0.254218,0.977423,1.000000

In [83]:
# Take a minute to find the column where the correlation value is greater than 0.75 at least twice or run the following code
corrs = corr_matrix.abs().unstack().sort_values(kind='quicksort', ascending=False)
corrs[(corrs>0.75) & (corrs<1.0)]

Proline_log                   Proline                         0.977423
Proline                       Proline_log                     0.977423
Total phenols                 Flavanoids                      0.864564
Flavanoids                    Total phenols                   0.864564
Type                          Flavanoids                      0.847498
Flavanoids                    Type                            0.847498
Type                          OD280/OD315 of diluted wines    0.788230
OD280/OD315 of diluted wines  Type                            0.788230
Flavanoids                    OD280/OD315 of diluted wines    0.787194
OD280/OD315 of diluted wines  Flavanoids                      0.787194
dtype: float64

In [84]:
# Flavanoids has high correlation with Total phenols and OD280/OD315 of diluted wines
# Proline is already redundant because of Proline_log
# We don't drop Type because it the target column
to_drop = ["Flavanoids", "Proline"]

In [85]:
# Drop that column from the DataFrame
utils.wine = utils.wine.drop(to_drop, axis=1)
utils.wine.head()

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline_log
0,1,14.23,1.71,2.43,15.6,127,2.80,0.28,2.29,5.64,1.04,3.92,6.970730
1,1,13.20,1.78,2.14,11.2,100,2.65,0.26,1.28,4.38,1.05,3.40,6.956545
2,1,13.16,2.36,2.67,18.6,101,2.80,0.30,2.81,5.68,1.03,3.17,7.077498
3,1,14.37,1.95,2.50,16.8,113,3.85,0.24,2.18,7.80,0.86,3.45,7.299797
4,1,13.24,2.59,2.87,21.0,118,2.80,0.39,1.82,4.32,1.04,2.93,6.599870

In [86]:
utils.wine.corr()

,Type,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline_log
Type,1.000000,-0.328222,0.437776,-0.049643,0.517859,-0.209179,-0.719163,0.489109,-0.499130,0.265668,-0.617369,-0.788230,-0.569246
Alcohol,-0.328222,1.000000,0.094397,0.211545,-0.310235,0.270798,0.289101,-0.155929,0.136698,0.546364,-0.071747,0.072343,0.637325
Malic acid,0.437776,0.094397,1.000000,0.164045,0.288500,-0.054575,-0.335167,0.292977,-0.220746,0.248985,-0.561296,-0.368710,-0.152643
Ash,-0.049643,0.211545,0.164045,1.000000,0.443367,0.286587,0.128980,0.186230,0.009652,0.258887,-0.074667,0.003911,0.238394
Alcalinity of ash,0.517859,-0.310235,0.288500,0.443367,1.000000,-0.083333,-0.321113,0.361922,-0.197327,0.018732,-0.273955,-0.276769,-0.416897
Magnesium,-0.209179,0.270798,-0.054575,0.286587,-0.083333,1.000000,0.214401,-0.256294,0.236441,0.199950,0.055398,0.066004,0.424006
Total phenols,-0.719163,0.289101,-0.335167,0.128980,-0.321113,0.214401,1.000000,-0.449935,0.612413,-0.055136,0.433681,0.699949,0.431205
Nonflavanoid phenols,0.489109,-0.155929,0.292977,0.186230,0.361922,-0.256294,-0.449935,1.000000,-0.365845,0.139057,-0.262640,-0.503270,-0.275675
Proanthocyanins,-0.499130,0.136698,-0.220746,0.009652,-0.197327,0.236441,0.612413,-0.365845,1.000000,-0.025250,0.295544,0.519067,0.290203
Color intensity,0.265668,0.546364,0.248985,0.258887,0.018732,0.199950,-0.055136,0.139057,-0.025250,1.000000,-0.521813,-0.428815,0.348970
Hue,-0.617369,-0.071747,-0.561296,-0.074667,-0.273955,0.055398,0.433681,-0.262640,0.295544,-0.521813,1.000000,0.565468,0.173593
OD280/OD315 of diluted wines,-0.788230,0.072343,-0.368710,0.003911,-0.276769,0.066004,0.699949,-0.503270,0.519067,-0.428815,0.565468,1.000000,0.254218
Proline_log,-0.569246,0.637325,-0.152643,0.238394,-0.416897,0.424006,0.431205,-0.275675,0.290203,0.348970,0.173593,0.254218,1.000000

## Selecting features using text vectors

### Exploring text vectors, part 1

Let's expand on the text vector exploration method we just learned about, using the `volunteer` dataset's title tf/idf vectors. In this first part of text vector exploration, we're going to add to that function we learned about above. We'll return a list of numbers with the function. In the next example, we'll write another function to collect the top words across all documents, extract them, and then use that list to filter down our `text_tfidf` vector.

In [87]:
# Add in the rest of the parameters
def return_weights(vocab, original_vocab, vector, vector_index, top_n):
    zipped = dict(zip(vector[vector_index].indices, vector[vector_index].data))
    
    # Let's transform that zipped dict into a series
    zipped_series = pd.Series({vocab[i]:zipped[i] for i in vector[vector_index].indices})
    
    # Let's sort the series to pull out the top n weighted words
    zipped_index = zipped_series.sort_values(ascending=False)[:top_n].index
    return [original_vocab[i] for i in zipped_index]

In [88]:
# Print out the weighted words
vocab = {v:k for k,v in tfidf_vec.vocabulary_.items()}
return_weights(vocab, tfidf_vec.vocabulary_, text_tfidf, 8, 3)

[188, 23, 562]

### Exploring text vectors, part 2

Using the function we wrote in the previous exercise, we're going to extract the top words from each document in the text vector, return a list of the word indices, and use that list to filter the text vector down to those top words.

In [89]:
def words_to_filter(vocab, original_vocab, vector, top_n):
    filter_list = []
    for i in range(0, vector.shape[0]):
    
        # Here we'll call the function from the previous exercise, and extend the list we're creating
        filtered = return_weights(vocab, original_vocab, vector, i, top_n)
        filter_list.extend(filtered)
    # Return the list in a set, so we don't get duplicate word indices
    return set(filter_list)

In [90]:
# Call the function to get the list of word indices
filtered_words = words_to_filter(vocab, tfidf_vec.vocabulary_, text_tfidf, 3)

# By converting filtered_words back to a list, we can use it to filter the columns in the text vector
filtered_text = text_tfidf[:, list(filtered_words)]

### Training Naive Bayes with feature selection

Let's re-run the Naive Bayes text classification model we ran at the end of chapter 3, with our selection choices from the previous exercise, on the `volunteer` dataset's `title` and `category_desc` columns.

In [91]:
# Split the dataset according to the class distribution of category_desc
y = utils.volunteer["category_desc"]
train_X, test_X, train_y, test_y = train_test_split(filtered_text.toarray(), y, stratify=y, random_state=42)

In [92]:
# Fit the model to the training data
nb.fit(train_X, train_y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [93]:
# Print out the model's accuracy
nb.score(test_X, test_y)

0.4491017964071856

We can see that our accuracy score wasn't that different from the score at the end of chapter 3. That's okay; the title field is a very small text field, appropriate for demonstrating how filtering vectors works.

## Dimensionality reduction

### Using PCA

Let's apply PCA to the wine dataset, to see if we can get an increase in our model's accuracy.

In [94]:
from sklearn.decomposition import PCA

In [95]:
# Set up PCA and the X vector for diminsionality reduction
pca = PCA()
wine_X = utils.wine.drop("Type", axis=1)

In [96]:
# Apply PCA to the wine dataset X vector
transformed_X = pca.fit_transform(wine_X)

In [97]:
# Look at the percentage of variance explained by the different components
pca.explained_variance_ratio_

array([9.12755402e-01, 5.09141191e-02, 2.48693943e-02, 5.09461731e-03,
       3.21347706e-03, 1.45045542e-03, 6.41602177e-04, 4.34299470e-04,
       3.29772489e-04, 1.61719100e-04, 9.54355350e-05, 3.97060700e-05])

In the next section you'll train a model using the PCA-transformed vector.

### Training a model with PCA

Now that we have run PCA on the `wine` dataset, let's try training a model with it.

In [98]:
# Split the transformed X and the y labels into training and test sets
wine_y = utils.wine["Type"]
X_wine_train, X_wine_test, y_wine_train, y_wine_test = train_test_split(transformed_X, wine_y, random_state=42)

In [99]:
# Fit knn to the training data
knn = KNeighborsClassifier()
knn.fit(X_wine_train, y_wine_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [100]:
# Score knn on the test data and print it out
knn.score(X_wine_test, y_wine_test)

0.8444444444444444

# Putting it all together

Now that we've learned all about preprocessing we'll try these techniques out on a dataset that records information on UFO sightings.

## UFOs and preprocessing

### Checking column types

Let's take a look at the UFO dataset's column types using the `dtypes` attribute. One column jumps out for transformation: the `date` column, which can be transformed into the `datetime` type. That will make our feature engineering efforts easier later on.

In [101]:
ufo = pd.read_csv('data/ufo_sightings_large.csv')
ufo.head()

,date,city,state,country,type,seconds,length_of_time,desc,recorded,lat,long
0,11/3/2011 19:21,woodville,wi,us,unknown,1209600.0,2 weeks,Red blinking objects similar to airplanes or s...,12/12/2011,44.953056,-92.291111
1,10/3/2004 19:05,cleveland,oh,us,circle,30.0,30sec.,Many fighter jets flying towards UFO,10/27/2004,41.499444,-81.695556
2,9/25/2009 21:00,coon rapids,mn,us,cigar,0.0,NaN,Green&#44 red&#44 and blue pulses of light tha...,12/12/2009,45.120000,-93.287500
3,11/21/2002 05:45,clemmons,nc,us,triangle,300.0,about 5 minutes,It was a large&#44 triangular shaped flying ob...,12/23/2002,36.021389,-80.382222
4,8/19/2010 12:55,calgary (canada),ab,ca,oval,0.0,2,A white spinning disc in the shape of an oval.,8/24/2010,51.083333,-114.083333

In [102]:
ufo.dtypes

date               object
city               object
state              object
country            object
type               object
seconds           float64
length_of_time     object
desc               object
recorded           object
lat               float64
long              float64
dtype: object

In [103]:
# Change the date column to type datetime
ufo["date"] = pd.to_datetime(ufo["date"])

### Dropping missing data

Let's remove some of the rows where certain columns have missing values. We're going to look at the `length_of_time column`, the `state` column, and the `type` column. If any of the values in these columns are missing, we're going to drop the rows.

In [104]:
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4935 entries, 0 to 4934
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4935 non-null   datetime64[ns]
 1   city            4926 non-null   object
 2   state           4516 non-null   object
 3   country         4255 non-null   object
 4   type            4783 non-null   object
 5   seconds         4935 non-null   float64
 6   length_of_time  4791 non-null   object
 7   desc            4935 non-null   object
 8   recorded        4935 non-null   object
 9   lat             4935 non-null   float64
 10  long            4935 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 424.2+ KB

In [105]:
# Check how many values are missing in the length_of_time, state, and type columns
ufo[['length_of_time', 'state', 'type']].isnull().sum()

length_of_time    144
state             419
type              152
dtype: int64

In [106]:
# Keep only rows where length_of_time, state, and type are not null
ufo = ufo[ufo["length_of_time"].notnull() & ufo["state"].notnull() & ufo["type"].notnull()]
ufo.reset_index(drop=True, inplace=True)

In [107]:
# Print out the shape of the new dataset
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4286 entries, 0 to 4285
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            4286 non-null   datetime64[ns]
 1   city            4283 non-null   object
 2   state           4286 non-null   object
 3   country         3891 non-null   object
 4   type            4286 non-null   object
 5   seconds         4286 non-null   float64
 6   length_of_time  4286 non-null   object
 7   desc            4286 non-null   object
 8   recorded        4286 non-null   object
 9   lat             4286 non-null   float64
 10  long            4286 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(7)
memory usage: 368.5+ KB

## Categorical variables and standardization

### Extracting numbers from strings

The `length_of_time` field in the UFO dataset is a text field that has the number of minutes within the string. Here, we'll extract that number from that text field using regular expressions.

In [108]:
import math
def return_minutes(time_string):
    # We'll use \d+ to grab digits and match it to the column values
    #pattern = re.compile(r"(?:[^0-9]*)?(\d+)(?:[^0-9]*)?(?:\d*?)(?:minutes*|mins*)(?:[^0-9]*)?")
    #pattern = re.compile(r"(\d+)(?:[^0-9]*)?(?:minutes*|mins*)|(\d+):(?:\d*?)")
    pattern = re.compile(r"(\d+|\d{1,2}\.\d{1,2})(?:[^0-9\.]*)?(?:minutes*|mins*)|(\d+):(?:\d*?)")    
        
    # Use match on the pattern and column
    num = re.search(pattern, time_string)
    if num is not None:
        return math.floor(float((num.group(1) if num.group(1) is not None else num.group(2))))

In [109]:
# Apply the extraction to the length_of_time column
ufo["minutes"] = ufo["length_of_time"].apply(return_minutes)

In [110]:
# Take a look at the head of both of the columns
ufo[["length_of_time", "minutes"]].head(10)

              length_of_time  minutes
0                    2 weeks      NaN
1                     30sec.      NaN
2            about 5 minutes      5.0
3                          2      NaN
4                 10 minutes     10.0
5  total? maybe around 10 mi      NaN
6  several sightings from 10      NaN
7                  2 minutes      2.0
8                  2 minutes      2.0
9                  5 minutes      5.0

As we can see, we end up with some NaNs in the DataFrame. That's okay for now; we'll take care of those before modeling.

In [111]:
ufo = ufo[(ufo['seconds'] != 0.0) & ufo['minutes'].notnull()]
ufo.reset_index(drop=True, inplace=True)

### Identifying features for standardization

In this section, we'll investigate the variance of columns in the UFO dataset to determine which features should be standardized. After taking a look at the variances of the `seconds` and `minutes` column, we'll see that the variance of the seconds column is extremely high. Because `seconds` and `minutes` are related to each other (an issue we'll deal with when we select features for modeling), let's log normlize the `seconds` column.

In [112]:
# Check the variance of the columns
ufo.var()

seconds    602178.956602
lat            42.263663
long          402.268639
minutes       127.066623
dtype: float64

In [113]:
# Log normalize the seconds column
ufo["seconds_log"] = np.log(ufo["seconds"])

In [114]:
# Print out the variance of just the seconds_log column
print(ufo["seconds_log"].var())

1.1970634438022885

## Engineering new features

### Encoding categorical variables

There are couple of columns in the UFO dataset that need to be encoded before they can be modeled through scikit-learn. We'll do that transformation here, using both binary and one-hot encoding methods.

In [115]:
# Use Pandas to encode us values as 1 and others as 0
ufo["country_enc"] = ufo["country"].apply(lambda val: 1 if val == "us" else 0)

In [116]:
# Print the number of unique type values
print(len(ufo["type"].unique()))

21

In [117]:
# Create a one-hot encoded set of the type values
type_set = pd.get_dummies(ufo["type"])

In [118]:
# Concatenate this set back to the ufo DataFrame
ufo = pd.concat([ufo, type_set], axis=1)

In [119]:
ufo.head()

,date,city,state,country,type,seconds,length_of_time,desc,recorded,lat,...,flash,formation,light,other,oval,rectangle,sphere,teardrop,triangle,unknown
0,2002-11-21 05:45:00,clemmons,nc,us,triangle,300.0,about 5 minutes,It was a large&#44 triangular shaped flying ob...,12/23/2002,36.021389,...,0,0,0,0,0,0,0,0,1,0
1,2012-06-16 23:00:00,san diego,ca,us,light,600.0,10 minutes,Dancing lights that would fly around and then ...,7/4/2012,32.715278,...,0,0,1,0,0,0,0,0,0,0
2,2013-06-09 00:00:00,oakville (canada),on,ca,light,120.0,2 minutes,Brilliant orange light or chinese lantern at o...,7/3/2013,43.433333,...,0,0,1,0,0,0,0,0,0,0
3,2013-04-26 23:27:00,lacey,wa,us,light,120.0,2 minutes,Bright red light moving north to north west fr...,5/15/2013,47.034444,...,0,0,1,0,0,0,0,0,0,0
4,2013-09-13 20:30:00,ben avon,pa,us,sphere,300.0,5 minutes,North-east moving south-west. First 7 or so li...,9/30/2013,40.508056,...,0,0,0,0,0,0,1,0,0,0

### Features from dates

Another feature engineering task to perform is month and year extraction. We'll perform this task on the `date` column of the `ufo` dataset.

In [120]:
# Look at the first 5 rows of the date column
ufo["date"].head()

0   2002-11-21 05:45:00
1   2012-06-16 23:00:00
2   2013-06-09 00:00:00
3   2013-04-26 23:27:00
4   2013-09-13 20:30:00
Name: date, dtype: datetime64[ns]

In [121]:
# Extract the month from the date column
ufo["month"] = ufo["date"].apply(lambda row: row.month)

In [122]:
# Extract the year from the date column
ufo["year"] = ufo["date"].apply(lambda row: row.year)

In [123]:
# Take a look at the head of all three columns
ufo[["date", "month", "year"]].head()

                 date  month  year
0 2002-11-21 05:45:00     11  2002
1 2012-06-16 23:00:00      6  2012
2 2013-06-09 00:00:00      6  2013
3 2013-04-26 23:27:00      4  2013
4 2013-09-13 20:30:00      9  2013

### Text vectorization

Let's transform the `desc` column in the UFO dataset into tf/idf vectors, since there's likely something we can learn from this field.

In [124]:
# Take a look at the head of the desc field
ufo["desc"].head()

0    It was a large&#44 triangular shaped flying ob...
1    Dancing lights that would fly around and then ...
2    Brilliant orange light or chinese lantern at o...
3    Bright red light moving north to north west fr...
4    North-east moving south-west. First 7 or so li...
Name: desc, dtype: object

In [125]:
# Create the tfidf vectorizer object
vec = TfidfVectorizer()

In [126]:
# Use vec's fit_transform method on the desc field
desc_tfidf = vec.fit_transform(ufo["desc"])

In [127]:
# Look at the number of columns this creates.
desc_tfidf.shape

(2530, 4195)

The text vector has a large number of columns. We'll work on selecting the features we want to use for modeling in the next section.

## Feature selection and modeling

### Selecting the ideal dataset

Let's get rid of some of the unnecessary features. Because we have an encoded country column, `country_enc`, we keep it and drop other columns related to location: `city`, `country`, `lat`, `long`, `state`.

We have columns related to `month` and `year`, so we don't need the `date` or `recorded` columns.

We vectorized `desc`, so we don't need it anymore. For now we'll keep `type`.

We'll keep `seconds_log` and drop `seconds` and `minutes`.

Let's also get rid of the `length_of_time` column, which is unnecessary after extracting `minutes`.

In [128]:
# Check the correlation between the seconds, seconds_log, and minutes columns
ufo[["seconds", "seconds_log", "minutes"]].corr()

              seconds  seconds_log   minutes
seconds      1.000000     0.804909  0.903248
seconds_log  0.804909     1.000000  0.836148
minutes      0.903248     0.836148  1.000000

In [129]:
# Make a list of features to drop   
to_drop = ["city", "country", "date", "desc", "lat", "length_of_time", "long", "minutes", "recorded", "seconds", "state"]

In [130]:
# Drop those features
ufo = ufo.drop(to_drop, axis=1)

In [131]:
# Let's also filter some words out of the text vector we created
vocab = {v:k for k,v in vec.vocabulary_.items()}
filtered_words = words_to_filter(vocab, vec.vocabulary_, desc_tfidf, 4)

We're almost done. In the next examples, we'll try modeling the UFO data in a couple of different ways.

### Modeling the UFO dataset, part 1

In this example, we're going to build a k-nearest neighbor model to predict which country the UFO sighting took place in. Our `X` dataset has the log-normalized seconds column, the one-hot encoded type columns, as well as the month and year when the sighting took place. The `y` labels are the encoded country column, where 1 is `us` and 0 is `ca`.

In [132]:
X = ufo.drop(['type', 'country_enc'], axis=1)
y = ufo['country_enc']

In [133]:
# Take a look at the features in the X set of data
X.columns

Index(['seconds_log', 'changing', 'chevron', 'cigar', 'circle', 'cone',
       'cross', 'cylinder', 'diamond', 'disk', 'egg', 'fireball', 'flash',
       'formation', 'light', 'other', 'oval', 'rectangle', 'sphere',
       'teardrop', 'triangle', 'unknown', 'month', 'year'],
      dtype='object')

In [134]:
# Split the X and y sets using train_test_split, setting stratify=y
train_X, test_X, train_y, test_y = train_test_split(X, y, stratify=y, random_state=42)

In [135]:
# Fit knn to the training sets
knn.fit(train_X, train_y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [136]:
# Print the score of knn on the test sets
print(knn.score(test_X, test_y))

0.8562401263823065

Awesome work! This model performs pretty well. It seems like we've made pretty good feature selection choices here.

### Modeling the UFO dataset, part 2

Finally, let's build a model using the text vector we created, `desc_tfidf`, using the `filtered_words` list to create a filtered text vector. Let's see if we can predict the `type` of the sighting based on the text. We'll use a Naive Bayes model for this.

In [137]:
# Use the list of filtered words we created to filter the text vector
filtered_text = desc_tfidf[:, list(filtered_words)]

In [138]:
# Split the X and y sets using train_test_split, setting stratify=y
y = ufo['type']
train_X, test_X, train_y, test_y = train_test_split(filtered_text.toarray(), y, stratify=y, random_state=42)

In [139]:
# Fit nb to the training sets
nb.fit(train_X, train_y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [140]:
# Print the score of nb on the test sets
nb.score(test_X, test_y)

0.1769352290679305

As we can see, this model performs very poorly on this text data. This is a clear case where iteration would be necessary to figure out what subset of text improves the model, and if perhaps any of the other features are useful in predicting `type`.

## Congratulations!